h1, h2{
    text-align: center;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
table{
    text-align: justify;
}
.header .menu{
    margin: 50px 0 0 260px;
}
.header .menu li{
    display: inline;
    padding-left: 43px;
}
.header .menu a{
    text-decoration: none;
    color: darkgrey;
    font-size: 20px;
    font-family: cursive;
}
.header .menu a:hover{
    color: red;
}
.header .menu a:active{
    color:red;
}


.main .Main_page img{
    width: 100%;
}
.main .Main_page p{
    text-align: justify;
    font-size: 15pt;

}
.main .Katalog{
    margin: 0 auto;
    border-spacing: 30px 20px;
}
.main .Katalog td{
    width: 210px;
    height: 250px;
    text-align: center;
}
.main .Katalog img{
    width: 160px;
    height: 160px;
}
.main .About_product li{
    list-style-type: none;
}
.main .About_product li:before{
    content: "÷ç ";
    padding-right: 4px;
}
.main .About_product h3{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}
.main .About_product img{
    border: 6px solid red;
}
.main .About_product .brief_description{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.main .About_product .full_description{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.main .message_form fieldset{
    text-align: center;
    border: 0px;
}
.main .message_form fieldset div{
   margin-top: 10px;
}
.main .message_form fieldset input{
    width: 500px;
}
.main .message_form fieldset textarea{
    width: 500px;
}
.main .message_form fieldset input[type="submit"]{
    width: 100px;
}
.main .Contacts li{
    list-style-type: none;
}



.footer p{
    text-align: right;
}
